html {
  visibility: hidden; }

body {
  font-size: 1.2rem; }

/* Mixin */
.v-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.v-middle-absolute {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.top-bar {
  background-color: #16425b;
  color: #fff;
  padding: 5px 50px 5px;
  text-transform: uppercase; }
  .top-bar
  ul {
    display: inline-block;
    margin: 0;
    padding: 0; }
    .top-bar
    ul
    li {
      list-style-type: none;
      display: inline-block;
      margin: 0 2px; }
      .top-bar
      ul
      li
      a {
        color: #fff; }
  .top-bar .links {
    display: inline-block;
    float: right;
    line-height: 30px;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-size: .7em;
    color: #fff;
    text-decoration: none; }
    .top-bar .links
    a {
      color: #fff;
      font-family: 'Nunito', sans-serif; }
    .top-bar .links a:hover {
      color: #fff; }
  .top-bar .fa-shopping-cart:before {
    margin: 0 5px; }

header#masthead {
  position: absolute;
  width: 100%;
  padding: 30px 50px 15px;
  z-index: 1000; }
  header#masthead
  .site-branding {
    display: inline-block; }
  header#masthead .menu-menu-1-container {
    position: absolute;
    right: 0;
    width: auto; }
    header#masthead .menu-menu-1-container
    li {
      margin: 0 7px;
      display: inline-block; }
    header#masthead .menu-menu-1-container a, header#masthead .menu-menu-1-container a:hover, header#masthead .menu-menu-1-container a:visited, header#masthead .menu-menu-1-container a:active {
      color: #fff;
      text-transform: uppercase;
      font-family: 'Nunito', sans-serif;
      margin: 0 7px;
      font-weight: 600;
      text-decoration: none; }
    header#masthead .menu-menu-1-container .sub-menu {
      background-color: #238698;
      text-align: center;
      margin-left: -50px; }
      header#masthead .menu-menu-1-container .sub-menu
      a {
        color: #fff;
        padding: 3px 0; }
  header#masthead .dropdown-menu.show
  a {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    margin: 0; }
  header#masthead .dropdown-menu.show a:focus, header#masthead .dropdown-menu.show a:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa; }
  header#masthead .nav-menu > li:last-of-type a, header#masthead .nav-menu > li:last-of-type a:hover {
    background-color: #238698;
    border-radius: 50%;
    padding: 15px 10px;
    margin-top: -15px; }
  header#masthead .navbar-light .navbar-toggler {
    color: white;
    border-color: white; }

footer {
  background-color: #16425b;
  color: #fff;
  padding: 10px 0px; }
  footer
  ul {
    padding: 0;
    list-style-type: none;
    margin: 0; }
    footer
    ul
    li {
      margin: 0 .75rem;
      display: inline-block;
      font-size: .75rem; }
      footer
      ul
      li
      a {
        font-family: 'Nunito', sans-serif;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none; }
      footer
      ul
      li a:visited {
        color: #fff; }
      footer
      ul
      li a:hover {
        color: #fff; }

.bottom_bar {
  background-color: #303030;
  padding: 5px 5px; }
  .bottom_bar
  p {
    color: #fff;
    margin: 0;
    text-align: right;
    font-size: .65em; }

.entry-footer {
  background-color: #fff;
  color: #000; }

section {
  background-size: cover;
  background-position: center; }

section.dark {
  color: #fff;
  background-color: #000; }

.dark-80 {
  background-color: rgba(0, 0, 0, 0.8); }

section.dark-2 {
  background-color: #16425b;
  color: #fff; }

section.light {
  color: #292b2c; }

section.light-2 {
  background-color: #f2f1ed;
  color: #16425b; }

.section.light-2 {
  background-color: #f2f1ed;
  color: #16425b; }

.c-padding-180 {
  padding: 180px 0; }

.c-padding-75 {
  padding: 75px 0; }

.c-padding-50 {
  padding: 50px 0; }

.c-padding-30 {
  padding: 30px 0; }

.c-padding-25-100 {
  padding: 25px 0 100px; }

.c-padding-25 {
  padding: 25px 0; }

.vc_btn3-left a {
  -webkit-appearance: none;
  outline: 0;
  border: none;
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin: 0;
  padding: 12px 10px 12px 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #fff;
  background-color: #238698 !important;
  cursor: pointer;
  transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
  font-family: 'Nunito', sans-serif; }
.vc_btn3-left a:hover {
  background-color: #35a4b8 !important;
  color: #fff; }

a.o-button {
  -webkit-appearance: none;
  outline: 0;
  border: none;
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin: 0;
  padding: 12px 10px 12px 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #fff;
  background-color: #238698;
  cursor: pointer;
  transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
  font-family: 'Nunito', sans-serif; }

a {
  cursor: pointer !important; }

a.o-button {
  color: #eee;
  text-decoration: none; }

a.o-button:hover {
  background-color: #35a4b8;
  color: #fff; }

a.o-button:visited {
  color: #fff; }

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

a:visited {
  color: inherit; }

a:focus {
  outline: none;
  cursor: pointer;
  text-decoration: none; }

.woocommerce-loop-product__title {
  text-decoration: none;
  font-size: 1.15em; }
  .woocommerce-loop-product__title
  :hover {
    color: inherit; }

p, em, strong {
  font-family: 'Nunito', sans-serif; }

h5 {
  font-family: 'Nunito', sans-serif; }

h2, h3, h4, a {
  font-family: "minion-pro-caption",serif; }

h1 {
  font-family: "minion-pro-caption",serif;
  font-weight: 900;
  font-size: 4rem; }

h3 {
  font-weight: 100;
  margin: .75rem 0 1.5rem; }

a {
  color: #16425b;
  text-decoration: underline; }

.float-left {
  float: left;
  margin: 0 8px 8px 0; }

.play-program {
  position: absolute;
  margin: 30px 0 0 -125px; }
  .play-program
  img {
    width: 75px; }

.border-right {
  border-right: 1px solid #16425b; }

.entry-header {
  display: none; }

.is-center {
  text-align: center; }

/**PAGE SPECIFICS**/
.home .dark {
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 9px 24px rgba(0, 0, 0, 0.32); }
.home .dark-2 img {
  float: left;
  margin: 5px 20px 20px 0; }
.home .hero-container {
  padding: 0 20px;
  position: relative;
  top: 50%;
  transform: translateY(-20%); }
.home h4 {
  font-family: 'Nunito', sans-serif; }
.home .blog .float-left {
  height: 100px; }

.blog .container {
  padding-top: 50px; }
.blog h3 {
  margin-top: 0; }

.page-template-template-styleguide-php header#masthead, .page-template-template-styleguide-php footer {
  background-color: #303030;
  position: relative; }

.slider-premium .slick-prev {
  left: -50px !important; }
.slider-premium .slick-next {
  right: 0px !important; }
.slider-premium .slick-next:before, .slider-premium .slick-prev:before {
  color: #000 !important; }
.slider-premium .text-center img {
  height: 250px;
  width: auto;
  margin: 0 auto; }
.slider-premium h4 {
  font-weight: 700;
  color: #35a4b8; }

.slider_featured_events .slick-prev {
  left: -30px !important;
  margin-top: 5px; }
.slider_featured_events .slick-next {
  right: -30px !important;
  margin-top: 5px; }
.slider_featured_events .slick-next:before, .slider_featured_events .slick-prev:before {
  color: #000 !important; }

.slider_recent_products .slick-prev {
  left: -20px !important;
  margin-top: -24px; }
.slider_recent_products .slick-next {
  right: -20px !important;
  margin-top: -24px; }
.slider_recent_products .slick-next:before, .slider_recent_products .slick-prev:before {
  color: #000 !important; }

.slick-next::before, .slick-prev::before {
  font-size: 30px; }

.section.programs .content {
  margin: 0 auto; }

.addthis_toolbox {
  margin: 0 auto; }

.anchor .content {
  margin: 0 auto; }

.single-anchor .verse {
  text-align: center; }
.single-anchor .col-md-8 {
  text-align: left; }
.single-anchor h3 {
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 100; }
.single-anchor h3.author {
  margin-top: -6px; }
.single-anchor .row img {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px; }
.single-anchor .content {
  margin-bottom: 30px;
  color: #16425b;
  font-size: 1.5em; }
  .single-anchor .content
  p {
    margin-bottom: 2px; }
.single-anchor .anchorDetails.grey {
  background-color: #f2f1ed;
  color: #16425b;
  margin-top: 50px; }
  .single-anchor .anchorDetails.grey
  .row {
    padding: 25px 0;
    width: 100%; }
    .single-anchor .anchorDetails.grey
    .row
    .col-md-4 {
      text-align: center; }
.single-anchor ul {
  margin: 0;
  padding: 0; }
  .single-anchor ul
  li {
    list-style-type: none; }
.single-anchor .anchorBtns {
  text-align: center;
  margin-bottom: 50px; }
  .single-anchor .anchorBtns
  .o-button {
    margin: 0 25px; }
.single-anchor .section.sub .content {
  max-width: 800px;
  text-align: left;
  margin: 30px auto; }

.tags-links {
  display: block; }

.wsc-login, .create-account {
  display: none; }

.postid-1560 .images {
  display: none; }
.postid-1560 .summary.entry-summary {
  float: none !important;
  width: 100% !important; }
.postid-1560 .blue {
  display: none; }

.woocommerce div.product form.cart .button {
  display: none; }

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
  width: 38%; }

.makeautomatic {
  float: left;
  width: 100%;
  margin-top: 9px; }
  .makeautomatic
  p {
    font-size: .7em; }
    .makeautomatic
    p
    a {
      color: #1d889a;
      font-family: 'Nunito', sans-serif; }
    .makeautomatic
    p a:hover, .makeautomatic
    p a:visited {
      color: #1d889a; }

.after_product_content {
  padding-top: 40px; }
  .after_product_content
  p {
    margin-bottom: 2rem; }

.woocommerce div.product form.cart .single_add_to_cart_button {
  display: inherit;
  letter-spacing: 2px;
  font-size: 1em !important;
  padding: 10px 35px; }

.qtylabel, .price {
  display: none; }

.single-product .quantity {
  display: none; }

.productsFeatured, .products {
  margin: 0 auto; }

.section.storeItems .heading {
  margin: 0 auto; }

.single-product .section.storeItems .heading {
  padding-bottom: 0;
  margin: 0 auto; }
.single-product .light-2 {
  max-width: 800px;
  margin-bottom: 50px;
  margin: 0 auto; }
.single-product .nyp {
  margin-bottom: -10px;
  font-size: .8em; }
.single-product .quantity {
  margin-left: 0px; }
.single-product .products .product {
  text-align: center;
  padding-left: 6px;
  padding-right: 6px; }
  .single-product .products .product
  a {
    text-decoration: none; }
.single-product .woocommerce-tabs {
  display: none; }

.woocommerce-message {
  padding: 20px !important;
  font-family: 'Nunito', sans-serif; }
  .woocommerce-message
  .button.wc-forward {
    -webkit-appearance: none;
    outline: 0;
    border: none;
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin: 0;
    padding: 12px 10px 12px 18px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: #fff;
    background-color: #238698;
    cursor: pointer;
    transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
    font-family: 'Nunito', sans-serif; }

.woocommerce-cart .entry-content {
  margin: 0; }

.woocommerce table.shop_table {
  padding: 50px 15px 0 15px; }

.searchFilters .filter {
  height: 37px; }

.section.storeSearch {
  background-color: #238698; }
  .section.storeSearch
  .nav {
    max-width: 1000px; }

.page-template-page-store-landing h1, .page-template-page-store-landing h2, .page-template-page-store-landing h3, .page-template-page-store-landing h4, .page-template-page-store-landing a {
  font-family: 'Nunito', sans-serif;
  text-decoration: none; }
.page-template-page-store-landing
.c-padding-180 h1 {
  font-family: "minion-pro-caption",serif; }

.woocommerce-Price-amount.amount {
  margin-top: 10px; }

.wsc-progress.active {
  background-color: #16425b; }

.wsc-progress.active:after {
  border-left: 8px solid #16425b; }

.button#wsc-main {
  -webkit-appearance: none;
  outline: 0;
  border: none;
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin: 0;
  padding: 12px 10px 12px 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #fff;
  background-color: #238698;
  cursor: pointer;
  transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
  font-family: 'Nunito', sans-serif;
  width: 100%; }

.checkout-button.button.alt.wc-forward {
  -webkit-appearance: none;
  outline: 0;
  border: none;
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin: 0;
  padding: 12px 10px 12px 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #fff;
  background-color: #238698;
  cursor: pointer;
  transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1);
  font-family: 'Nunito', sans-serif; }

.minimum-price {
  display: none; }

.page-template-template-mapbox .container.map {
  min-height: 600px;
  position: relative; }

.loading {
  margin-top: 50px; }

hr.blue {
  background: #1d889a;
  height: 1px;
  width: 94px; }

.section.archive, .section.anchor {
  padding: 35px 0 50px; }
  .section.archive a, .section.anchor a {
    color: #1d889a;
    text-decoration: none; }
    .section.archive a:hover, .section.anchor a:hover {
      color: #000; }

.section.archive .content input[type='submit'], .section.archive .content input[type='button'] {
  padding: 13px 28px 10px; }

.section.archive .content .filter {
  width: 155px;
  height: 42px; }
  .section.archive .content .filter ul {
    padding: 0; }
    .section.archive .content .filter ul li a {
      padding: 15px; }

.section.programs {
  box-sizing: content-box; }
  .section.programs a {
    text-decoration: none; }

.section.programs .content .right .item .button.download > i {
  font-size: 16px;
  position: absolute; }

.tax-series #btnProgramImage {
  margin: 10px 0 15px 0; }
.tax-series .programs .container h2 {
  color: #fff;
  text-align: center; }
.tax-series .programs .content {
  max-width: 800px; }

/**SUBSPLASH**/
.route-media-item__more-items, .route-app__footer-subsplash-brand, .route-app__search-embedded-wrap {
  display: none; }

/**SLICK**/
.slider-main .slick-next {
  right: 25px; }
.slider-main .slick-prev {
  left: 25px;
  z-index: 10; }

.slider-main .slick-track {
  height: 600px; }

.slick-slide {
  background-size: cover; }

/** MEDIA QUERIES **/
@media all and (max-width: 767px) {
  .top-bar {
    display: none; }

  h1 {
    font-size: 2em; }

  p {
    font-size: .85em; }

  .mobile-hide {
    display: none; }

  .slick-next, .slick-prev {
    display: none; }

  .home .c-padding-50 {
    min-height: 600px; }

  .site-footer {
    display: none; } }

/*# sourceMappingURL=style.css.map */
