html { visibility:hidden; }

body {
  font-size: 1.2rem;
}

/* Mixin */
@mixin vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.v-middle {
  @include vertical-align();
}

.v-middle-absolute {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.top-bar {
  background-color: #16425b;
  color: #fff;
  padding: 5px 50px 5px;
  text-transform: uppercase;
   &
    ul {
      float: left;
      margin: 0;
      padding: 0;
      &
        li {
          list-style-type: none;
          display: inline-block;
          margin: 0 2px;
          &
            a {
              color: #fff;
            }
        }
    }
    .links {
      text-align: right;
      &
        a {
          font-family: 'Nunito', sans-serif;
          font-size: .7em;
          color: #fff;
          text-decoration: none;
        }
    }
    .fa-shopping-cart:before {
    margin: 0 5px;
  }
}

header#masthead {
  position: absolute;
  width: 100%;
  padding: 30px 50px 15px;
  z-index: 1000;
  &
    .site-branding {
      display: inline-block;
    }
    .menu-menu-1-container {
      position: absolute;
      right: 0;
      width: auto;
      &
        li {
          margin: 0 7px;
          display: inline-block;
        }
        a, a:hover, a:visited, a:active {
          color: #fff;
          text-transform: uppercase;
          font-family: 'Nunito', sans-serif;
          margin: 0 15px;
          font-weight: 600;
          text-decoration: none;
        }
        .sub-menu {
          background-color: #238698;
          text-align: center;
          margin-left: -50px;
          &
            a {
              color: #fff;
              padding: 3px 0;
            }
        }
    }
    .dropdown-menu.show {
        &
          a {
            display: block;
            width: 100%;
            padding: .25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background: 0 0;
            border: 0;
            margin: 0;
          }
          a:focus, a:hover {
            color: #16181b;
            text-decoration: none;
            background-color: #f8f9fa;
          }
    }
    .nav-menu > li:last-of-type a, .nav-menu > li:last-of-type a:hover {
      background-color: #238698;
      border-radius: 50%;
      padding: 15px 10px;
      margin-top: -15px;
    }
    .navbar-light .navbar-toggler {
      color: rgba(255,255,255,1);
      border-color: rgba(255,255,255,1);
    }
}

footer {
  background-color: #16425b;
  color: #fff;
  padding: 10px 0px;
  &
    ul {
      padding: 0;
      list-style-type: none;
      margin: 0;
      &
        li {
          margin: 0 .75rem;
          display: inline-block;
          font-size: .75rem;
          &
            a {
              font-family: 'Nunito', sans-serif;
              text-transform: uppercase;
              color: #fff;
              text-decoration: none;
            }
            a:visited {
              color: #fff;
            }
            a:hover {
              color: #fff;
            }
        }
    }
}

.bottom_bar {
  background-color: #303030;
  padding: 5px 5px;
  &
    p {
      color: #fff;
      margin: 0;
      text-align: right;
      font-size: .65em;
    }
}

.entry-footer {
  background-color: #fff;
  color: #000;
}

section {
  background-size: cover;
  background-position: center;
}

section.dark {
  color: #fff;
  background-color: #000;
  // &
  //   ::after {
  //   content: "";
  //   width: 2000px;
  //   height: 500px;
  //   position: absolute;
  //   background-size: cover;
  //   left: -400px;
  //   top: -200px;
  //   z-index: -1;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-image: url(http://www.haventoday.ca/wp-content/themes/haven2015/images/header-program.jpg);
  //   }
}

.dark-80 {
  background-color: rgba(0,0,0,0.8);
}

section.dark-2 {
  background-color: #16425b;
  color: #fff;
}

section.light {
  color: #292b2c;
}

section.light-2 {
  background-color: #f2f1ed;
  color: #16425b;
}

.section.light-2 {
  background-color: #f2f1ed;
  color: #16425b;
}

.c-padding-180 {
  padding: 180px 0;
}

.c-padding-75 {
  padding: 75px 0;
}

.c-padding-50 {
  padding: 50px 0;
}

.c-padding-30 {
  padding: 30px 0;
}

.c-padding-25-100 {
  padding: 25px 0 100px;
}

.vc_btn3-left {
  a {
    -webkit-appearance: none;
    outline: 0;
    border: none;
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin: 0;
    padding: 12px 10px 12px 18px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    border-radius: 2px;
    color: #fff;
    background-color: #238698!important;
    cursor: pointer;
    transition: background-color 700ms cubic-bezier(0.19,1,0.22,1);
    -webkit-transition: background-color 700ms cubic-bezier(0.19,1,0.22,1);
    font-family: 'Nunito', sans-serif;
  }
  a:hover {
    background-color: #35a4b8!important;
    color: #fff;
  }
}

a.o-button {
  -webkit-appearance: none;
  outline: 0;
  border: none;
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin: 0;
  padding: 12px 10px 12px 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
  color: #fff;
  background-color: #238698;
  cursor: pointer;
  transition: background-color 700ms cubic-bezier(0.19,1,0.22,1);
  -webkit-transition: background-color 700ms cubic-bezier(0.19,1,0.22,1);
  font-family: 'Nunito', sans-serif;
}

a {
  cursor: pointer!important;
}

a.o-button {
  color: #eee;
  text-decoration: none;
}

a.o-button:hover {
  background-color: #35a4b8;
  color: #fff;
}

a.o-button:visited {
  color: #fff;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

a:focus {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.woocommerce-loop-product__title {
  text-decoration: none;
  font-size: 1.15em;
  &
    :hover {
      color: inherit;
    }
}

p, em, strong {
  font-family: 'Nunito', sans-serif;
}

h5 {
  font-family: 'Nunito', sans-serif;
}

h2, h3, h4, a {
  font-family: "minion-pro-caption",serif;
}

h1 {
  font-family: "minion-pro-caption",serif;
  font-weight: 900;
  font-size: 4rem;
}

h3 {
  font-weight: 100;
  margin: .75rem 0 1.5rem;
}

a {
  color: #16425b;
  text-decoration: underline;
}

.float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.play-program {
  position: absolute;
  margin: 30px 0 0 -125px;
  &
      img {
        width: 75px;
      }
}

.border-right {
  border-right: 1px solid #16425b;
}

.entry-header {
  display: none;
}

.is-center {
  text-align: center;
}

/**PAGE SPECIFICS**/
.home {
  .dark {
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 9px 24px rgba(0,0,0,0.32);
  }
  .dark-2 {
    img {
      float: left;
      margin: 5px 20px 20px 0;
    }
  }
  .hero-container {
    padding: 0 20px;
    position: relative;
    top: 50%;
    transform: translateY(-20%);
  }
}

.blog {
  .container {
    padding-top: 50px;
  }
}

.page-template-template-styleguide-php {
  header#masthead, footer {
    background-color: #303030;
    position: relative;
  }
}

.slider-premium {
  .slick-prev {
    left: -50px!important;
  }
  .slick-next {
    right: 0px!important;
  }
  .slick-next:before, .slick-prev:before {
    color: #000!important;
  }
  .text-center {
    img {
      height: 250px;
      width: auto;
      margin: 0 auto;
    }
  }
}

.slider_featured_events {
  .slick-prev {
    left: -30px!important;
    margin-top: 30px;
  }
  .slick-next {
    right: -30px!important;
    margin-top: 30px;
  }
  .slick-next:before, .slick-prev:before {
    color: #000!important;
  }
}

.slider_recent_products {
  .slick-prev {
    left: -20px!important;
    margin-top: -12px;
  }
  .slick-next {
    right: -20px!important;
    margin-top: -12px;
  }
  .slick-next:before, .slick-prev:before {
    color: #000!important;
  }
}

//Anchor

.single-anchor {
  .col-md-8 {
    text-align: left;
  }
  h1.entry-title {
  }
  h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
  }
  h3.author {
    margin-top: -6px;
  }
  .row img {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .content {
    margin-bottom: 30px;
    color: #16425b;
    font-size: 1.5em;
    &
      p {
        margin-bottom: 2px;
      }
  }
  .anchorDetails.grey {
    background-color: #f2f1ed;
    color: #16425b;
    margin-top: 50px;
    &
      .row {
        padding: 25px 0;
        width: 100%;
        &
          .col-md-4 {
            text-align: center;
          }
      }
  }
  ul {
    margin: 0;
    padding: 0;
    &
      li {
        list-style-type: none;
      }
  }
  .anchorBtns {
    text-align: center;
    margin-bottom: 50px;
    &
    .o-button {
      margin: 0 25px;
    }
  }
}

.tags-links {
  display: block;
}

// Store

.single-product {
  .section.storeItems {
    .heading {
      padding-bottom: 0;
    }
  }
  .light-2 {
    max-width: 800px;
    margin-bottom: 50px;
  }
  .nyp {
    margin-bottom: -10px;
  }
  .quantity {
    margin-left: 0px;
  }
  .products {
    .product {
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;
      &
        a {
          text-decoration: none;
        }
    }
  }
  .woocommerce-tabs {
    display: none;
  }
}

.woocommerce-message {
  padding: 20px!important;
  font-family: 'Nunito', sans-serif;
  &
  .button.wc-forward {
    -webkit-appearance: none;
    outline: 0;
    border: none;
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin: 0;
    padding: 12px 10px 12px 18px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    border-radius: 2px;
    color: #fff;
    background-color: #238698;
    cursor: pointer;
    transition: background-color 700ms cubic-bezier(0.19,1,0.22,1);
    -webkit-transition: background-color 700ms cubic-bezier(0.19,1,0.22,1);
    font-family: 'Nunito', sans-serif;
  }
}

.woocommerce-cart {
  .entry-content {
    margin: 0;
  }
}

.woocommerce table.shop_table {
  padding: 50px 15px 0 15px;
}

.searchFilters .filter {
  height: 37px;
}

.section.storeSearch {
  background-color: #238698;
}

.page-template-page-store-landing {
  h1, h2, h3, h4, a {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
  }
  &
    .c-padding-180 {
      h1 {
        font-family: "minion-pro-caption",serif;
      }
    }
}

.woocommerce-Price-amount.amount {
  margin-top: 10px;
}

.wsc-progress.active {
  background-color: #16425b;
}

.wsc-progress.active:after {
  border-left: 8px solid #16425b;
}

.button#wsc-main {
  -webkit-appearance: none;
  outline: 0;
  border: none;
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin: 0;
  padding: 12px 10px 12px 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
  color: #fff;
  background-color: #238698;
  cursor: pointer;
  transition: background-color 700ms cubic-bezier(0.19,1,0.22,1);
  -webkit-transition: background-color 700ms cubic-bezier(0.19,1,0.22,1);
  font-family: 'Nunito', sans-serif;
  width: 100%;
}

.checkout-button.button.alt.wc-forward {
  -webkit-appearance: none;
  outline: 0;
  border: none;
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin: 0;
  padding: 12px 10px 12px 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
  color: #fff;
  background-color: #238698;
  cursor: pointer;
  transition: background-color 700ms cubic-bezier(0.19,1,0.22,1);
  -webkit-transition: background-color 700ms cubic-bezier(0.19,1,0.22,1);
  font-family: 'Nunito', sans-serif;
}

.minimum-price {
  display: none;
}

// Mapbox page

.page-template-template-mapbox {
  .container.map {
    min-height: 300px;
  }
}

// Program Archive
.loading {
  margin-top: 50px;
}
hr.blue {
  background: #1d889a;
  height: 1px;
  width: 94px;
}

.section.archive, .section.anchor {
  padding: 35px 0 50px;

  a {
    color: #1d889a;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }
}

.section.archive .content input[type='submit'], .section.archive .content input[type='button'] {
  padding: 13px 28px 10px;
}

.section.archive .content .filter {
  width: 155px;
  height: 42px;

  ul {
    padding: 0;

    li a {
      padding: 15px;
    }
  }
}

.section.programs {
  box-sizing: content-box;

  a {
    text-decoration: none;
  }
}

.section.programs .content .right .item .button.download > i {
  font-size: 16px;
  position: absolute;
}

/** MEDIA QUERIES **/

@media all and (max-width: 767px) {
  .top-bar {
    display: none;
  }
  h1 {
    font-size: 2em;
  }
  p {
    font-size: .85em;
  }
  .mobile-hide {
    display: none;
  }
  .slick-next, .slick-prev {
    display: none;
  }
  .home .c-padding-50 {
    min-height: 600px;
  }
  .site-footer {
    display: none;
  }
}
